.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}

html, body {
    font: normal 12px Arial;
	}
:focus { outline: none; }
a, a:hover, a:visited { 
	text-decoration: none; 
	}

header {
	padding: 5px 15px;
	background: #eaeaea;
	position: relative;
	}
header h1 {
	margin: 0 20px 0 0;
	line-height: 32px;
	float: left;
	}
header h1 a {
	text-transform: uppercase;
	color: #333;
	}
header .search-wrap {
	padding: 4px 5px 0;
	float: left;
	border: 1px solid #d7d7d7;
	background: #fff;
	width: 150px;
	height: 30px;
	box-sizing: border-box;
	}
header .search-wrap input {
	margin: 0;
	padding: 0;
	background: 0;
	border: 0;
	line-height: 20px;
	width: 100%;
	}

#main {
	overflow: hidden;
	}

#sidebarnav {
	margin: 0 20px -185px 0;
	padding: 15px 15px 200px 15px;
	float: left;
	width: 100px;
	background: #f7f7f7;
	border-right: 1px solid #eaeaea;
	list-style: none;
	}

#content {
	float: left;
	}

footer {
	padding-top: 15px;
	border-top: 1px solid #eaeaea;
	text-align: center;
	}